$light: #f7f7f7;
$dark: #222121;
$lime: #00cc66;
$blue: #2541b2;
$orange: rgb(238, 167, 36);
$lightblue:#465BF0;
$fresh:#3CC47C;
$vermillion:#FC4A1A;


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    margin: 0;
    overflow: hidden;
}
.header{
align-items: center;
justify-self: center;
text-align: center;
font-size: 1.5rem;
display: block;
margin-top:10vh;
color:$lime;
p{
    color:$fresh;
}
}

.gameContainer {
align-items: center;
justify-self: center;
display: flex;

}

.figureContainer {
    fill: transparent;
    stroke:$vermillion;
    stroke-width: 4px;
    stroke-linecap: round;
    margin-right: 10rem;
}
.word {
    display: flex;
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
}
.letter {
    border-bottom: 3px solid  $lightblue;
    display: inline-flex;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    margin: 5px 3px;
    height: 50px;
    width: 20px;
  }

  .wrongLettersContanier {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    font-weight: bold;
    flex-direction: column;
    text-align: right;
    
  }
  .letterWrong{
   color:$vermillion;
   font-size: 1.5rem;
}
.wrongLetterHeader {
    font-size: 1.7rem;
}


.popup-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    //display: flex; 
    display: none;
    align-items: center;
    justify-content: center;
  }
  
  .popup {
    background: $lightblue;
    border-radius: 5px;
    box-shadow: 0 15px 10px 3px rgba(230, 214, 214, 0.74);
    padding: 20px;
    text-align: center;


    button {
        cursor: pointer;
        background-color: #fff;
        color: #2980b9;
        border: 0;
        margin-top: 20px;
        padding: 12px 20px;
        font-size: 16px;

        &:hover {
            background-color: $lime;
            color:$light;
            transition: all 0.3s ease-in;
        }

    button:active {
    transform: scale(0.98);
  }
    button:focus {
    outline: 0;
  }
  
      }
  }
  
  .notification-container {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px 10px 0 0;
    padding: 15px 20px;
    position: absolute;
    bottom: -50px;
    transition: transform 0.3s ease-in-out;
  }
  
  .notification-container p {
    margin: 0;
  }
  
  .notification-container.show {
    transform: translateY(-50px);
  }
  